* {
    box-sizing: border-box;
  }

  .item {
    width: 250px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: rgba(255,85,0, .7);
    text-align: center;
    color: #4E4C48;
    font-size: 1.5em;
  }
  
  /* typeit 설정 */
  :root {
    --ti-cursor-margin-left: 0.1em;
    --ti-cursor-color: dodgerblue;
  }

  h1 {
    margin-bottom: 0px;
  }

  /* anime 설정 */
  button {
    background: orange;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Lato';
    cursor: pointer;
    border: none;
    outline: none;
  }

  button:hover {
    background: blue;
  }

  .square {
    pointer-events: none;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    margin: 4px;
    display: inline-block;
  }

  .blue {
    background: blue;
  }

  .red {
    background: red;
  }

  .black {
    background: black;
  }

  .controls {
    margin-top: 250px;
  }

  body {
  margin: 20px;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
}
